.btn-primary{
    color: #fff;
    background-color: #0d6efd;
    border-color: transparent;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: transparent;
}
.btn-primary::selection {
    color: #fff;
    background-color: #0b5ed7;
    border-color: transparent;
}